


.loader, #cssload-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #222222; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}



.loader .cssload-loading {
	
	position: absolute;
	
	text-align: center;
	line-height: 40px;
	
	
	bottom: 15%;
	margin-top: 58px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
		-o-text-transform: uppercase;
		-ms-text-transform: uppercase;
		-webkit-text-transform: uppercase;
		-moz-text-transform: uppercase;
}


.loader::before, .loader::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    animation: tracks 10s linear forwards;
}
.loader::before {
    width: 265px;
    height: 265px;
    border: 11px solid rgba(0,0,0,0);
}
.loader::after {
    width: 95px;
    height: 95px;
    border: 8px solid rgba(0,0,0,0);
}
.car {
    position: relative;
    z-index: 1;
    transform-origin: bottom bottom;
    animation: drift 3.2s linear infinite;
}
.car::before, .car::after {
    content: '';
    position: absolute;
    top: 10px;
    border-radius: 50%;
}
.car::before {
    background: #eee;
    animation: smoke .5s linear infinite;
}
.car::after {
    background: #eee;
    animation: smoke .5s linear .7s infinite;
}
svg {
    position: relative;
    width: 150px;
    padding: 0 0 150px;
    z-index: 1;
}
@keyframes smoke {
    from {
        left: 65px;
        width: 0px;
        height: 0px;
        opacity: 1;
   }
    to {
        left: -10px;
        width: 40px;
        height: 40px;
        opacity: 0;
   }
}
@keyframes drift {
    from {
        transform: rotate(0deg);
   }
    to {
        transform: rotate(360deg);
   }
}
@keyframes tracks {
    from {
        border-color: rgba(0,0,0,0);
   }
    to {
        border-color: #000000;
   }
}